/* Define a cor e a posição do fundo e dos elementos */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.trainAnimation {
    position: relative;
}

.content {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #164668;
    border-radius: 5%;
    overflow: hidden;
}

/* Adiciona alguns edifícios */
.buildings {
    position: relative;
    background-color: rgba(5, 51, 83);
    width: 80px;
    height: 300px;
    left: 0;
    top: 150px;
    box-shadow: 80px 40px rgba(5, 51, 83), 120px -30px rgba(5, 51, 83), 150px 20px rgba(5, 51, 83), 190px -10px rgba(5, 51, 83, 0.5), 30px -10px rgba(5, 51, 83,0.5), 220px 70px rgba(5, 51, 83), 280px -25px rgba(5, 51, 83, 0.5), 360px 20px rgba(5, 51, 83,0.5),270px 30px rgba(5, 51, 83), 320px 70px rgba(5, 51, 83);
}

.buildings:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 15px;
    background-color: rgb(252, 163, 17);
    left: 13px;
    top: 10px;
    box-shadow: 23px 0px rgb(252,163,17,0.7), 47px 0px rgb(252,163,17,0.2), 0px 30px rgb(252,163,17,0.2), 23px 30px rgb(252,163,17,0.2), 47px 30px rgb(252,163,17), 120px -30px rgb(252,163,17,0.6), 140px -30px rgb(252,163,17), 160px -30px rgb(252,163,17,0.2),120px 0px rgb(252,163,17,0.2),140px 0px rgb(252,163,17,0.2), 160px 0px rgb(252,163,17,0.2), 270px 30px rgb(252,163,17,0.2), 290px 30px rgb(252,163,17,0.2),310px 30px rgb(252,163,17,0.5);
}

.buildings:after {
    content: "";
    position: absolute;
    background-color: #041c2d;
    width: 100px;
    height: 250px;
    top: 90px;
    box-shadow: 100px 30px #041c2d,150px -10px #041c2d, 230px 50px #041c2d, 300px -20px #041c2d;
}

.windows {
    position: absolute;
    background-color: rgb(252, 163, 17);
    width: 20px;
    height: 25px;
    left: 310px;
    top: 230px;
    box-shadow: 30px 0 rgb(252,163,17), 60px 0 rgb(252,163,170,0.3),30px 40px rgb(252,163,170,0.3), 60px 40px rgb(252,163,17), -140px 20px rgb(252,163,17), -100px 20px rgb(252,163,17,0.3), -100px 60px rgb(252,163,17),-250px 30px rgb(252,163,17,0.8),-250px 70px rgb(252,163,17,0.2),-290px 30px rgb(252,163,17,0.2);
}

.windows:before {
    content: "";
    position: absolute;
    background-color: rgb(252, 163, 17,0.1);
    width: 25px;
    height: 7px;
    left: -73px;
    top: -80px;
    box-shadow: 50px 15px rgb(252,163,17,0.1), 125px 40px rgb(252,163,17,0.1), 125px 55px rgb(252,163,17,0.1);
}